         ::placeholder {
            color: black;
            opacity: 1;
        }
        
      
        
        html {
            background: white;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        body {
            padding-top: 10vh;
        }
        
        main {
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            height: 465px;
            width: 350px;
            box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        input {
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
        }
        
        .form-group-email {
            margin: 5px;
            display: flex;
            padding-bottom: 10px;
        }
        
        .form-group-email input {
            width: 150px;
            margin: 0 5px;
        }
        
        .form-group {
            margin: 20px 0;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
        
        .form-group input {
            margin: 5px;
            width: 100%;
        }
        
        .accept-box {
            display: flex;
            align-items: center;
            margin: auto;
            font-size: 15px;
        }
        .accept-boxone {
            display: flex;
            align-items: center;
            margin: auto;
            font-size: 15px;
        }
        
        a {
            color: black;
        }
        
        a:hover {
            color: grey;
        }
        
        .form-group {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }
        
        .form-group button {
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: black;
            background: #white;
        }
        
        .form-group button:disabled {
            cursor: not-allowed;
            background: white !important;
            color: black!important;
        }
        
        .form-group button:hover {
            background: black;
            color: grey;
        }
        
        .options {
            padding-top: 15px;
            margin: auto;
            font-size: 13px;
        }
        
        p {
            font-size: 12px;
        }
        
        .pwd-format {
            position: relative;
            color: black;
            background: rgb(243, 234, 243);
            font-size: 11px;
            width: 150px;
            padding: 5px;
            border-radius: 5px;
            top: 112px;
            right: -81px;
            z-index: 2;
            display: none;
        }
    
footer {
    display: flex;
    justify-content: center;
}